.item {
	position: relative;
	display: inline-block;
	cursor: pointer;
	border: 2px solid var(--accent);
	padding: 4px;
	margin: 4px;
	border-radius: 8px;

  }
  
  .details {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	color: var(--accent);
  }
  
  .details.open {
	max-height: 500px;
	transition: max-height 0.5s ease-in;
  }
  
  .timeline-container {
	width: 80%;
	margin: auto;
	border-left: 5px solid var(--accent);
	position: relative;
	padding: 24px 0;
  }
  
  .timeline-block {
	padding: 8px 24px;
	cursor: pointer;
	position: relative;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .timeline-block::before {
	content: '';
	position: absolute;
	left: -11px;
	top: 40px;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	background-color: var(--primary);
	border: 5px solid var(--accent);
	border-radius: 50%;
  }

  .timeline-block::after {
	content: '';
	position: absolute;
	left: 3%;
	bottom: 0; 
	width: 25%; 
	border-bottom: 3px solid var(--accent);
	transition: opacity 0.4s ease; 
	opacity: 0; 
  }
  
  .timeline-block:hover::after {
	opacity: 1; 
  }
  .timeline-dates {
	position: absolute;
	left: -80px; 
	top: 10px;
	color: var(--accent);
	font-size: 0.85em;
  }
  